#main{
    border: 2px solid rgb(128, 128, 128);
    height: fit-content;
}
#innerDiv{
    border: 2px solid grey;
    height: 150px;
}
#heading{
    text-align: center;
}
#h1{
   width: fit-content;
   position: relative;bottom: -20px;
   padding-left: 25px;

}
#h2{
    text-align: right;
    position: relative;bottom: 20px;
    padding-right: 25px;
}
#footer{
    text-align: center;

}
#btn{
    position: relative;left: 470px;bottom: 15px;

}
fieldset{
    border-radius: 5px;
}
